.filter {
  margin-top: 20px;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  height: 115px;

  &-by {
    &.open {
      .filter-by__input {
        display: block;
      }

      .filter-by__logo {
        display: flex;
        align-items: center;
        justify-items: center;
        height: 100%;
        width: 100%;
        transform: rotate(180deg);
        cursor: pointer;
      }

      .filter-by__label {
        display: none;
      }

      .filter-by__items {
        display: block;

        & li {
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            background-color: rgba(255, 255, 255, .2);
          }
        }
      }
    }

    margin-right: 20px;
    position: relative;
    background-color: $color-blue;
    padding: 25px;
    border-radius: 5px;
    z-index: 1000;

    &.green {
      background-color: $color-green;
    }
    &.red {
      background-color: $color-red;
    }

    display: grid;
    grid-template-rows: 25px 1fr;
    grid-template-columns: 1fr 25px;

    &__input {
      display: none;
      background-color: transparent;
      color: white;
      border: none;
      outline: none;
      font-size: 18px;
      font-weight: 700;

      &::placeholder {
        color: #FFFFFF;
        opacity: .5;
      }
    }

    &__logo {
      justify-self: center;
      align-self: center;
    }

    &__label {
      //display: none;
      color: white;
      font-size: 18px;
      font-weight: 700;
      margin-right: 20px;
      pointer-events: none;
    }

    &__items {
      display: none;
      margin-top: 10px;
      list-style: none;
      grid-column: 1 / 3;
      color: white;
      font-size: 18px;
      font-weight: 400;
    }
  }
}

@media (max-width: 1000px) {
  .filter {
    height: auto;
  }
}