.recipe {
  border-radius: 5px;
  background-color: #E7E7E7;
  width: 380px;
  height: 400px;
  overflow: hidden;
  margin: 20px 0;

  &.hide {
    display: none;
  }

  &__thumbnail {
    height: 178px;
    width: 100%;
    background-color: #C7BEBE;
  }

  &__legend {
    display: grid;
    height: 220px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-gap: 10px;
    padding: 20px;

    &--title {
      grid-column: 1 / 4;
      font-size: 18px;
      font-weight: 400;
      align-self: center;
    }

    &--time {
      grid-column: 4 / 5;
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: 700;
      align-self: center;
      justify-self: end;
    }

    &--ingredients {
      grid-column: 1 / 3;
      font-size: 12px;
      list-style: none;
    }

    &--desc {
      grid-column: 3 / 5;
      position: relative;
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
    }
  }
}

@media (max-width: 1000px) {
  .recipe {
    width: 300px;
    height: 360px;
    margin: 20px 0;

    &__legend {
      grid-gap: 5px;
      padding: 10px;
      height: 175px;

      &--title {
        font-size: 14px;
        font-weight: 400;
      }

      &--time {
        font-size: 14px;
        font-weight: 700;
      }

      &--ingredients {
        font-size: 11px;
      }

      &--desc {
        font-size: 11px;
      }
    }
  }
}