.tag {
  background-color: $color-blue;
  &.green {
    background-color: $color-green;
  }
  &.red {
    background-color: $color-red;
  }

  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  font-weight: 700;
  margin-right: 10px;

  display: flex;

  & p {
    margin-right: 10px;
  }

  &__logo {
    cursor: pointer;
  }
}