.tags {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.recipes {
  display: grid;
  grid-template-columns: repeat(auto-fit, 380px);
  justify-content: space-between;
  grid-gap: 20px;

  margin: 50px 100px;
}

@media (max-width: 1000px) {
  .recipes {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    grid-gap: 10px;

    margin: 10px 5px;
  }
}